<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Filters registration -->
    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>servlets.filter.TransactionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ErrorHandlingFilter</filter-name>
        <filter-class>servlets.filter.ErrorHandlingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HttpMethodFilter</filter-name>
        <filter-class>servlets.filter.HttpMethodFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SecureFilter</filter-name>
        <filter-class>servlets.filter.SecureFilterServlet</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>servlets.filter.AdminFilterServlet</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ErrorHandlingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SecureFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/secure/admin/*</url-pattern>
    </filter-mapping>

</web-app>
